// Cores
$primary-color: #003f5c; // Azul escuro
$secondary-color: #7a9ab5; // Azul calmo
$accent-color: #ff6f61; // Coral
$light-color: #ffcccb; // Rosa claro
$background-color: #f5f5f5; // Cinza claro
$text-color: #fff8f8; // Texto médio

// Cores adicionais
$secondary-light-color: #a5d6a7; // Verde claro
$highlight-color: #ffeb3b; // Amarelo destaque
$highlight-light-color: #fdd835; // Amarelo claro
$warning-color: #ff5722; // Laranja alerta

// Fontes
$base-font-size: 16px;
$heading-font-size: 2em;
$font-family-base: "Arial, sans-serif";

// Espaçamentos
$padding-base: 10px;
$margin-base: 15px;
